<div id="navbar-container">
    <ul id="navbar-ul" class="nav_text">
        <li id="navbar-location">LOCATION</li>
        <li id="navbar-hotels">ACCOMMODATION</li>
        <li id="navbar-galicia">GALICIA</li>
        <li id="navbar-boda">THE WEDDING</li>
        <li id="navbar-regalos">WEDDING LIST</li>
        <li id="navbar-contact">CONTACT</li>
    </ul>
    
</div>

<!-- IDIOMA-->

<div id="lenguage-container">
    <a href="/es">
        <div class="lenguage-img" id="lenguage-img-es"></div>
    </a>
</div>

<!-- -->

<div class="block" style="height: 0vh; min-height: 60px;" class="aux-div">
</div>
<!-- NAMES ANA Y LUIS -->
<div id="names-container" class="block">
    <h1 class="title names-name" id="names-Ana" data-aos="fade-up" data-aos-delay="300">Ana<br>Algora</h1>
    <h1 class="title names-name" id="names-Luis" data-aos="fade-up">Luis<br>Truan</h1>
    <img src="/images/ilustraciones/ilus_anayluis.png" id="names-illus" data-aos="fade" data-aos-delay="0">
    <img src="/images/shapes/rect.png" class="color-shape" id="shape-luis" data-aos="fade-up" data-aos-delay="600">
    <img src="/images/shapes/oval.png" class="color-shape" id="shape-ana" data-aos="fade-up" data-aos-delay="900">
    <div id="names-info-container" data-aos="fade-up" data-aos-delay="500">
        <h3 id="names-info-text" class="body">
            July 10, 2021. Pontevedra, Galicia España
        </h3>
    </div>
</div>

<!-- ABOUT THIS WEBSITE -->
<div class="block" id="about-container" data-aos="fade-up" data-aos-delay="0">
    <p class="sub_title" id="about-text">Please find below information about accommodation, tourist attractions and instructions for the day!
    </p>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- DATE AND LOCATION -->
<div class="block" id="location-container">
    <img src="/images/ilustraciones/map.jpg" id="location-map_illus"  data-aos="fade" data-aos-delay="0">

    <h1 class="title" id="location-title"  data-aos="fade-up" data-aos-delay="0">
        Date and<br>location
    </h1>
    <h3 class="sub_title" id="location-sub_title"  data-aos="fade-up" data-aos-delay="300">July 10, 2021. Pontevedra, Galicia España</h3>
    
    <div class="button" id="location-button"  data-aos="fade-up" data-aos-delay="900">
        <a href="https://goo.gl/maps/Z1y9horoxzydNuiX7" target="_blank" class="body">Show map</a>
    </div>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- HOTELES -->
<div class="block" id="hotels-container">
    <div id="hotels-titles-container">
        <h1 class="title" id="hotels-title" data-aos="fade-up" data-aos-delay="0">Where to<br>stay</h1>
        <h3 class="sub_title" id="hotels-sub_title" data-aos="fade-up" data-aos-delay="300">These are some of our favourite places to stay.</h3>
    </div>
    <img src="/images/shapes/rect.png" class="color-shape" id="shape-luis" data-aos="fade-up" data-aos-delay="300">
    <div id="hotels-main_hotel-container">
        <img src="images/hotels/puente_la_toja.png" id="hotels-main_hotel-img">
        <h3 class="sub_title" id="hotels-main_hotel-title">Gran Hotel<br>de La Toja</h3>
        <p id="hotels-main_hotel-info" class="body">We have blocked some rooms in these hotels, if you have trouble finding a room, let us know and we will be happy to help.</p>
        <p class="hotels-phone body" id="hotels-main_hotel-phone">+34 986 730 025</p>
        <a  href="https://www.eurostarshotels.com/eurostars-gran-hotel-la-toja.html" class="hotels-arrow_button" id="hotels-main_hotel-arrow"></a>
    </div>
</div>

<div class="block">
    <div class="hotels-block" id="hotels-block-blank">
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_01.png" class="hotels-img">
        <h3 class="main_info">Hotel Puente <br>la Toja</h3>
        <p class="body hotels-phone">+34 986 730 025</p>
        <a href="http://hotelpuentedelatoja.com/" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_02.png" class="hotels-img">
        <h3 class="main_info">Hotel Isla<br>de La Toja</h3>
        <p class="body hotels-phone">+34 986 730 050</p>
        <a href="https://www.eurostarshotels.com/eurostars-isla-de-la-toja.html" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_03.png" class="hotels-img">
        <h3 class="main_info">Hotel San Marcos, Cambados</h3>
        <p class="body hotels-phone">+34 986 718 462</p>
        <a href="https://hotel-sanmarcos.com/" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_04.png" class="hotels-img">
        <h3 class="main_info">Parador de Cambados</h3>
        <p class="body hotels-phone">+34 986 542 250</p>
        <a href="https://www.parador.es/es/paradores/parador-de-cambados" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_05.png" class="hotels-img">
        <h3 class="main_info">Hotel Talaso de Louxo, La Toja</h3>
        <p class="body hotels-phone">+34 986 730 200</p>
        <a href="https://www.louxolatoja.com/" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_06.png" class="hotels-img">
        <h3 class="main_info">Hotel Maruxia,<br>O Grove</h3>
        <p class="body hotels-phone">+34 986 732 795</p>
        <a href="https://www.hotelmaruxia.com/es" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_07.png" class="hotels-img">
        <h3 class="main_info">Hotel Touris,<br>O Grove</h3>
        <p class="body hotels-phone">+34 986 730 251</p>
        <a href="https://www.hoteltouris.com/es" class="hotels-arrow_button"></a>
    </div>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- DATE AND LOCATION -->

<div class="block" id="galicia-container">
    <h1 class="title" id="galicia-title" data-aos="fade-up" data-aos-delay="0">Galicia</h1>
    <h3 class="sub_title" id="galicia-subtitle" data-aos="fade-up" data-aos-delay="300">Some points of interest in the area to enjoy the beautiful Spanish northern coast!</h3>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-01">
        <img src="/images/galicia/01.png" style="width: 100%">
        <h3 class="main_info">Cambados</h3>
        <p class="body">Galicia is one the most important wine regions in Spain, and Cambados is the Capital of Albariño!</p>
    </div>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-02">
        <img src="/images/galicia/02.png" style="width: 100%">
        <h3 class="main_info">La Toja</h3>
        <p class="body">One of the most famous thermal and health spas in Spain</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-03">
        <img src="/images/galicia/03.png" style="width: 100%">
        <h3 class="main_info">San Vicente do Mar</h3>
        <p class="body">Beach</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-04">
        <img src="/images/galicia/04.png" style="width: 100%">
        <h3 class="main_info">La Lanzada</h3>
        <p class="body">Beach</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-05">
        <img src="/images/galicia/05.png" style="width: 100%">
        <h3 class="main_info">Muros</h3>
        <p class="body">Surf beach</p>
    </div>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-02">
        <img src="/images/galicia/balea.png" style="width: 100%">
        <h3 class="main_info">Balea</h3>
        <p class="body">Beach</p>
    </div>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-01">
        <img src="/images/galicia/golf.png" style="width: 100%">
        <h3 class="main_info">Golf Club</h3>
        <p class="body">La toja</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-03">
        <img src="/images/galicia/nautico.png" style="width: 100%">
        <h3 class="main_info">Nautico San Vicente do Mar</h3>
        <p class="body">Live music</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-04">
        <img src="/images/galicia/silgar.png" style="width: 100%">
        <h3 class="main_info">Silgar</h3>
        <p class="body">Beach</p>
    </div>
</div>
<div class="block" id="gastro-container">
    <h1 class="title" id="gastro-title" data-aos="fade-up" data-aos-delay="0">Restaurants</h1>
    <h3 class="sub_title" id="gastro-sub_title" data-aos="fade-up" data-aos-delay="300">One of the many great attractions of Galicia is its phenomenal cuisine. These are a few of our favourite places. Make sure to make a reservation!</h3>
<div class="gastro-elemento">
        <a href="http://www.dberto.com/es/mariscos-pescados.aspx" class="main_info gatro-rest_name">Restaurante D'Berto</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.casamarcelo.net/" class="main_info gatro-rest_name">Casa Marcelo, Sant. de Compostela</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g3463534-d7032700-Reviews-Casa_Ramallo-Rois_Province_of_A_Coruna_Galicia.html" class="main_info gatro-rest_name">Casa Ramallo, Padron</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g1064059-d4731737-Reviews-Restaurante_Estrella_Bueu-Bueu_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name">Casa Estrella, Bueu</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.isladeons.net/es/restaurante/" class="main_info gatro-rest_name">Casa Acuña, Isla de Ons</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.asgarzas.com/" class="main_info gatro-rest_name">Casa As Garzas, Malpica</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://tiradocordel.com/" class="main_info gatro-rest_name">Tira do Cordel, Finisterre</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.casaroman.com/" class="main_info gatro-rest_name">Casa Roman, Pontevedra</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g652143-d992063-Reviews-La_Taberna_de_Rotilio-Sanxenxo_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name">Casa Rotilio, Sanxenxo</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://pepedocoxo.com/" class="main_info gatro-rest_name">Casa Pepe fo Coxo, Freixo</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="" class="main_info gatro-rest_name">Club Nautico de Canido, Vigo</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://yayodaporta.com/" class="main_info gatro-rest_name">Yayo Daporta, Cambados</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.cullerdepau.com/es/" class="main_info gatro-rest_name">Culler de Pau, San Vicente do Mar</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g1079478-d4717419-Reviews-Los_Hornos-Isla_de_la_Toja_O_Grove_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name">Los Hornos, La toja</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g662781-d12992052-Reviews-Sal_de_Allo-O_Grove_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name">Sal de Allo, O Grove</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g3578595-d8779972-Reviews-Restaurante_Carabela-Pontecesures_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name">Carabela, Ponteveddra</a>
        <p class="body gastro-money"><span></span></p>
    </div>

</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- THE DAY -->
<div class="block" id="boda-container">
    <h1 class="title" id="boda-title" data-aos="fade-up" data-aos-delay="0">The Wedding</h1>
    <h3 class="sub_title" id="boda-sub" data-aos="fade-up" data-aos-delay="300"></h3>
    <img src="/images/boda/iglesia.png" id="boda-img_iglesia">
    <p class="main_info" id="boda-info">The service will be held at the Monasterio de Santa Maria de Armenteira at 18:00h, followed by a reception in the Pazo Mariño de Lobera.</p>
    <div class="button" id="boda-button">
        <a href="https://goo.gl/maps/6enawfgWe8FzFe5v8" target="_blank" class="body">Show map</a>
    </div>
</div>

<!-- TRANSPORTS -->
<div class="block" id="transports-container">
    <img src="/images/boda/bus.png" id="transports-img_bus">
    <p class="body" id="transports-info_A">There will be a bus service that will depart from various points to take you to the service, the reception and back to the hotels. Please note it will not be possible to access the service nor the reception by car.</p>
    <p class="main_info" id="transports-info_B">Please see below the bus service schedule.</p>
    <p class="main_info" id="transports-info_C">SOON</p>    
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- REGALOS -->
<div class="block" id="regalos-container" data-aos="fade-up" data-aos-delay="0">
    <img src="/images/shapes/oval.png" class="color-shape" id="shape-ana" data-aos="fade-up" data-aos-delay="300">
    <h1 class="title regalos" id="regalos-title">Wedding List</h1>
    <h3 class="sub_title regalos" id="regalos-sub" data-aos="fade-up" data-aos-delay="300">For us the greatest gift is having your presence on the day.</h3>
    <p class="body regalos" id="regalos-info" data-aos="fade-up" data-aos-delay="600">However, should you like to help us on this new adventure, you can do so through the following link. 'Invitados' password: anayluis1807</p>
    <div class="regalos" id="regalos-arrow" data-aos="fade-up" data-aos-delay="900"></div>
    <div class="button" id="regalo-button" data-aos="fade-up" data-aos-delay="900">
        <a href="https://www.mundoexpedicion.es/novios/" target="_blank" class="body">Wedding List</a>
    </div>
</div>

<!-- GRACIAS -->
<div class="block" id="gracias-container">
    <h1 class="title regalos" data-aos="fade-up" data-aos-delay="0">Thank<br>you!</h1>
    <div id="gracias-illus"data-aos="fade" data-aos-delay="0"></div>
</div>

<!-- FOOTER -->

<div id="contact-container">
    <p class="body" id="contact-info">We are looking forward to seeing you on the 18th. Do not hesitate to send us a message should you have any questions in the meantime.</p>
    <a href="/" id="contact-mail" class="main_info">wedding.luisyana@gmail.com</a>
    <div id="contact-line"></div>
</div>



<!-- ******************** SCRIPTS ******************** -->


<!--  NAVBAR SHADOW -->
<script type="text/javascript">
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 130 || document.documentElement.scrollTop > 130) {
        $("#navbar-container").css('box-shadow','1px 2px 12px 0px rgba(0,0,0,0.1)')
      } else {
        $("#navbar-container").css('box-shadow','1px 2px 12px 0px rgba(0,0,0,0.0)')
      }
    }
    
    $("#navbar-location").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#location-container").offset().top - 160},'slow');
    });

    $("#navbar-hotels").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#hotels-container").offset().top - 160},'slow');
    });

    $("#navbar-galicia").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#galicia-container").offset().top - 160},'slow');
    });

    $("#navbar-boda").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#boda-container").offset().top - 160},'slow');
    });

    $("#navbar-regalos").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#regalos-container").offset().top - 160},'slow');
    });

    $("#navbar-contact").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#contact-container").offset().top - 160},'slow');
    });


</script>