<div id="navbar-container">
    <ul id="navbar-ul" class="nav_text">
        <li id="navbar-location">LOCALIZACIÓN</li>
        <li id="navbar-hotels">ALOJAMIENTO</li>
        <li id="navbar-galicia">GALICIA</li>
        <li id="navbar-boda">LA BODA</li>
        <li id="navbar-regalos">REGALOS</li>
        <li id="navbar-contact">CONTACTO</li>
    </ul>
</div>

<!-- IDIOMA-->

<div id="lenguage-container">
    <a href="/en">
        <div class="lenguage-img" id="lenguage-img-en"></div>
    </a>
</div>

<!-- -->

<div class="block" style="height: 0vh; min-height: 60px;" class="aux-div">
</div>
<!-- NAMES ANA Y LUIS -->
<div id="names-container" class="block">
    <h1 class="title names-name" id="names-Ana" data-aos="fade-up" data-aos-delay="300">Ana<br>Algora</h1>
    <h1 class="title names-name" id="names-Luis" data-aos="fade-up">Luis<br>Truan</h1>
    <img src="/images/ilustraciones/ilus_anayluis.png" id="names-illus" data-aos="fade" data-aos-delay="0">
    <img src="/images/shapes/rect.png" class="color-shape" id="shape-luis" data-aos="fade-up" data-aos-delay="600">
    <img src="/images/shapes/oval.png" class="color-shape" id="shape-ana" data-aos="fade-up" data-aos-delay="900">
    <div id="names-info-container" data-aos="fade-up" data-aos-delay="500">
        <h3 id="names-info-text" class="body">
            10 de Julio de<br>2021 Galicia, España
        </h3>
    </div>
</div>

<!-- ABOUT THIS WEBSITE -->
<div class="block" id="about-container" data-aos="fade-up" data-aos-delay="0">
    <p class="sub_title" id="about-text">Aquí podrás encontrar toda la información sobre alojamientos, sitios de interes e instrucciones para el día de la boda.
    </p>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- DATE AND LOCATION -->
<div class="block" id="location-container">
    <img src="/images/ilustraciones/map.jpg" id="location-map_illus"  data-aos="fade" data-aos-delay="0">

    <h1 class="title" id="location-title"  data-aos="fade-up" data-aos-delay="0">
        Fecha y<br>localización
    </h1>
    <h3 class="sub_title" id="location-sub_title"  data-aos="fade-up" data-aos-delay="300">10 de Julio de 2021 Galicia, España</h3>
    
    <div class="button" id="location-button"  data-aos="fade-up" data-aos-delay="900">
        <a href="https://goo.gl/maps/Z1y9horoxzydNuiX7" target="_blank" class="body">Abrir Mapa</a>
    </div>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- HOTELES -->
<div class="block" id="hotels-container">
    <div id="hotels-titles-container">
        <h1 class="title" id="hotels-title" data-aos="fade-up" data-aos-delay="0">Dónde<br>alojarse</h1>
        <h3 class="sub_title" id="hotels-sub_title" data-aos="fade-up" data-aos-delay="300">Aquí os dejamos nuestros hoteles favoritos</h3>
    </div>
    <img src="/images/shapes/rect.png" class="color-shape" id="shape-luis" data-aos="fade-up" data-aos-delay="300">
    <div id="hotels-main_hotel-container">
        <img src="images/hotels/puente_la_toja.png" id="hotels-main_hotel-img">
        <h3 class="sub_title" id="hotels-main_hotel-title">Gran Hotel<br>de La Toja</h3>
        <p id="hotels-main_hotel-info" class="body">Tenemos bloqueadas algunas habitaciones en estos hoteles, si tenéis problemas para encontrar una habitación, decídnoslo y estaremos encantados de ayudaros.</p>
        <p class="hotels-phone body" id="hotels-main_hotel-phone">+34 986 730 025</p>
        <a href="https://www.eurostarshotels.com/eurostars-gran-hotel-la-toja.html"  class="hotels-arrow_button" id="hotels-main_hotel-arrow"></a>
    </div>
</div>

<div class="block" id="hotels-all-container">
    <div class="hotels-block" id="hotels-block-blank">
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_01.png" class="hotels-img">
        <h3 class="main_info">Hotel Puente <br>la Toja</h3>
        <p class="body hotels-phone">+34 986 730 025</p>
        <a href="http://hotelpuentedelatoja.com/" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_02.png" class="hotels-img">
        <h3 class="main_info">Hotel Isla<br>de La Toja</h3>
        <p class="body hotels-phone">+34 986 730 050</p>
        <a href="https://www.eurostarshotels.com/eurostars-isla-de-la-toja.html" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_03.png" class="hotels-img">
        <h3 class="main_info">Hotel San Marcos, Cambados</h3>
        <p class="body hotels-phone">+34 986 718 462</p>
        <a href="https://hotel-sanmarcos.com/" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_04.png" class="hotels-img">
        <h3 class="main_info">Parador de Cambados</h3>
        <p class="body hotels-phone">+34 986 542 250</p>
        <a href="https://www.parador.es/es/paradores/parador-de-cambados" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_05.png" class="hotels-img">
        <h3 class="main_info">Hotel Talaso de Louxo, La Toja</h3>
        <p class="body hotels-phone">+34 986 730 200</p>
        <a href="https://www.louxolatoja.com/" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_06.png" class="hotels-img">
        <h3 class="main_info">Hotel Maruxia,<br>O Grove</h3>
        <p class="body hotels-phone">+34 986 732 795</p>
        <a href="https://www.hotelmaruxia.com/es" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_07.png" class="hotels-img">
        <h3 class="main_info">Hotel Touris,<br>O Grove</h3>
        <p class="body hotels-phone">+34 986 730 251</p>
        <a href="https://www.hoteltouris.com/es" class="hotels-arrow_button"></a>
    </div>

    <div class="hotels-block">
        <img src="images/hotels/hotel_08.png" class="hotels-img">
        <h3 class="main_info">Pazo Revel Hotel & Resort,<br>Pontevedra</h3>
        <p class="body hotels-phone">+34 690 17 33 10</p>
        <a href="https://www.pazorevel.es/en" class="hotels-arrow_button"></a>
    </div>

</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- DATE AND LOCATION -->

<div class="block" id="galicia-container">
    <h1 class="title" id="galicia-title" data-aos="fade-up" data-aos-delay="0">Galicia</h1>
    <h3 class="sub_title" id="galicia-subtitle" data-aos="fade-up" data-aos-delay="300">Lugares de interés, para disfrutar de la preciosa costa de España!</h3>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-01">
        <img src="/images/galicia/01.png" style="width: 100%">
        <h3 class="main_info">Cambados</h3>
        <p class="body">Capital europea del Albariño</p>
    </div>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-02">
        <img src="/images/galicia/02.png" style="width: 100%">
        <h3 class="main_info">La Toja</h3>
        <p class="body">Baños termales</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-03">
        <img src="/images/galicia/03.png" style="width: 100%">
        <h3 class="main_info">San Vicente do Mar</h3>
        <p class="body">Playa</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-04">
        <img src="/images/galicia/04.png" style="width: 100%">
        <h3 class="main_info">La Lanzada</h3>
        <p class="body">Playa</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-05">
        <img src="/images/galicia/05.png" style="width: 100%">
        <h3 class="main_info">Muros</h3>
        <p class="body">Playa para surf</p>
    </div>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-02">
        <img src="/images/galicia/balea.png" style="width: 100%">
        <h3 class="main_info">Balea</h3>
        <p class="body">Playa</p>
    </div>
    <div class="galicia-activity galicia-main_activity" id="galicia-main_activity-01">
        <img src="/images/galicia/golf.png" style="width: 100%">
        <h3 class="main_info">Club de golf</h3>
        <p class="body">La Toja</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-03">
        <img src="/images/galicia/nautico.png" style="width: 100%">
        <h3 class="main_info">Nautico San Vicente do Mar</h3>
        <p class="body">Musica en vivo</p>
    </div>
    <div class="galicia-activity" id="galicia-main_activity-04">
        <img src="/images/galicia/silgar.png" style="width: 100%">
        <h3 class="main_info">Silgar</h3>
        <p class="body">Playa</p>
    </div>
</div>
<div class="block" id="gastro-container">
    <h1 class="title" id="gastro-title" data-aos="fade-up" data-aos-delay="0">Gastronomía</h1>
    <h3 class="sub_title" id="gastro-sub_title" data-aos="fade-up" data-aos-delay="300">Galicia es sinónimo de comer bien. Aquí te ponemos nuestros sitios favoritos.</h3>
    <div class="gastro-elemento">
        <a href="http://www.dberto.com/es/mariscos-pescados.aspx" class="main_info gatro-rest_name" >Restaurante D'Berto</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.casamarcelo.net/" class="main_info gatro-rest_name" >Casa Marcelo, Santiago de Compostela</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g3463534-d7032700-Reviews-Casa_Ramallo-Rois_Province_of_A_Coruna_Galicia.html" class="main_info gatro-rest_name" >Casa Ramallo, Padron</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g1064059-d4731737-Reviews-Restaurante_Estrella_Bueu-Bueu_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name" >Casa Estrella, Bueu</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.isladeons.net/es/restaurante/" class="main_info gatro-rest_name" >Casa Acuña, Isla de Ons</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.asgarzas.com/" class="main_info gatro-rest_name" >Casa As Garzas, Malpica</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://tiradocordel.com/" class="main_info gatro-rest_name" >Tira do Cordel, Finisterre</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.casaroman.com/" class="main_info gatro-rest_name" >Casa Roman, Pontevedra</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g652143-d992063-Reviews-La_Taberna_de_Rotilio-Sanxenxo_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name" >Casa Rotilio, Sanxenxo</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://pepedocoxo.com/" class="main_info gatro-rest_name" >Casa Pepe fo Coxo, Freixo</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="" class="main_info gatro-rest_name" >Club Nautico de Canido, Vigo</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://yayodaporta.com/" class="main_info gatro-rest_name" >Yayo Daporta, Cambados</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="http://www.cullerdepau.com/es/" class="main_info gatro-rest_name" >Culler de Pau, San Vicente do Mar</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g1079478-d4717419-Reviews-Los_Hornos-Isla_de_la_Toja_O_Grove_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name" >Los Hornos, La toja</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g662781-d12992052-Reviews-Sal_de_Allo-O_Grove_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name" >Sal de Allo, O Grove</a>
        <p class="body gastro-money"><span></span></p>
    </div>
    <div class="gastro-elemento">
        <a href="https://www.tripadvisor.es/Restaurant_Review-g3578595-d8779972-Reviews-Restaurante_Carabela-Pontecesures_Province_of_Pontevedra_Galicia.html" class="main_info gatro-rest_name" >Carabela, Ponteveddra</a>
        <p class="body gastro-money"><span></span></p>
    </div>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- THE DAY -->
<div class="block" id="boda-container">
    <h1 class="title" id="boda-title" data-aos="fade-up" data-aos-delay="0">La Boda</h1>
    <h3 class="sub_title" id="boda-sub" data-aos="fade-up" data-aos-delay="300"></h3>
    <img src="/images/boda/iglesia.png" id="boda-img_iglesia">
    <p class="main_info" id="boda-info">El servicio religioso se celebrará en el Monasterio de Santa Maria de Armenteira a las 12:00h, seguido de una recepción en el Pazo Mariño de Lobera.</p>
    <div class="button" id="boda-button">
        <a href="https://goo.gl/maps/Pm5MiNyZYLajDmt98" target="_blank" class="body">Abrir Mapa</a>
    </div>
</div>

<!-- TRANSPORTS -->
<div class="block" id="transports-container">
    <img src="/images/boda/bus.png" id="transports-img_bus">
    <p class="body" id="transports-info_A">Habrá un servicio de autobuses con varios puntos de recogida para llevaros hasta el monasterio y desde ahí al Pazo, y de vuelta después.</p>
    <p class="main_info" id="transports-info_C">No será posible ni recomendable acceder ese día a la ceremonia ni a la celebración con vehículo particular.</p>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- HORARIOS BUS -->
<div class="block" id="transports-container">
    <h1 class="title regalos" id="autobuses-title">Horarios Autobús</h1>
    <p class="main_info">
    Autobus #1:<br><br>
    A) Si os alojais en Hotel Talaso Louxo / Isla de La Toja / Casas particulares en La Toja: Recogida en Hotel Talaso Louxo. 11.00h<br>
    B) Gran Hotel La Toja: En la puerta del Gran Hotel. 11.05h<br>
    C) Pazo Revel: En la entrada del Pazo. 11.20h<br><br>

    Autobus #2:<br><br>
    A) Pazo O Rial: En la entrada del Pazo. 11.00h<br>
    B) Parador de Cambados: En la entrada del Parador. 11.15h<br>

    Autobus #3:<br><br>
    A) Hotel Montemar / Hotel Puente de La Toja / San Vicente Do Mar: En la entrada del Hotel Montemar. 11.00h<br>
    B) Hotel Brisa del Mar: En la parada de autobus al lado de la Policia Local en Av. Beiramar. 11.05h<br>
    C) Hotel Isolino: En la estacion de autobuses de O Grove (por fuera). 11.05h<br>
    D) Sanxenxo: En la rotonda donde esta el Carrefour de Sanxenxo (junto a la fuente). 11.25h<br>
    </p>
</div>

<!-- LINE -->
<div class="line" data-aos="fade-up" data-aos-delay="0"></div>

<!-- REGALOS -->
<div class="block" id="regalos-container" data-aos="fade-up" data-aos-delay="0">
    <img src="/images/shapes/oval.png" class="color-shape" id="shape-ana" data-aos="fade-up" data-aos-delay="300">
    <h1 class="title regalos" id="regalos-title">Regalos</h1>
    <h3 class="sub_title regalos" id="regalos-sub" data-aos="fade-up" data-aos-delay="300">Para nosotros lo más importante es compartir este día con vosotros.</h3>
    <p class="body regalos" id="regalos-info" data-aos="fade-up" data-aos-delay="600">No obstante, si queréis ayudarnos en nuestra nueva etapa, podéis hacerlo a través de este link. Contraseña: anayluis1807</p>
    <div class="regalos" id="regalos-arrow" data-aos="fade-up" data-aos-delay="900"></div>

    <div class="button" id="regalo-button" data-aos="fade-up" data-aos-delay="900">
        <a href="https://www.mundoexpedicion.es/novios/" target="_blank" class="body">Lista de bodas</a>
    </div>
</div>

<!-- GRACIAS -->
<div class="block" id="gracias-container">
    <h1 class="title regalos" data-aos="fade-up" data-aos-delay="0">Muchas<br>Gracias</h1>
    <div id="gracias-illus"data-aos="fade" data-aos-delay="0"></div>
</div>

<!-- FOOTER -->

<div id="contact-container">
    <p class="body" id="contact-info">No dudeis en escribirnos si teneis cualquier duda. Os responderemos lo antes posible </p>
    <a href="/" id="contact-mail" class="main_info">wedding.luisyana@gmail.com</a>
    <div id="contact-line"></div>
</div>



<!-- ******************** SCRIPTS ******************** -->


<!--  NAVBAR SHADOW -->
<script type="text/javascript">
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 130 || document.documentElement.scrollTop > 130) {
        $("#navbar-container").css('box-shadow','1px 2px 12px 0px rgba(0,0,0,0.1)')
      } else {
        $("#navbar-container").css('box-shadow','1px 2px 12px 0px rgba(0,0,0,0.0)')
      }
    }
    
    $("#navbar-location").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#location-container").offset().top - 160},'slow');
    });

    $("#navbar-hotels").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#hotels-container").offset().top - 160},'slow');
    });

    $("#navbar-galicia").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#galicia-container").offset().top - 160},'slow');
    });

    $("#navbar-boda").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#boda-container").offset().top - 160},'slow');
    });

    $("#navbar-regalos").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#regalos-container").offset().top - 160},'slow');
    });

    $("#navbar-contact").click(function(e) {
        e.preventDefault();
        $('html,body').animate({scrollTop: $("#contact-container").offset().top - 160},'slow');
    });


</script>